$menu-background: #9CC2BD;
$page-background: #e2eaec;
$text-color: #0E6655;
$light-3: #EDEDED;
$light-2: #F2F2F2;

.headlines-menu-bar {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $menu-background;
  z-index: 1000;
}

button#search-return-button {
  margin-left: 50%;
}

div#search-box{
  position: absolute;
  margin-left: 15%;

  div:first-child{
    flex-direction: row;
    label {
      margin-top: 12px;
      position: absolute;
      color: black;
      font-size: 22px;
      font-weight: 400;
    }
  }

  div:nth-child(2){
    margin-left: 92px;
    div input {
      margin-top: -3px;
    }
  }
}

div#advances-search-split-box {
  position: absolute;
  width: 100vw;
  height: 95vh;
  margin-top: 47px;
}

div#left-split-component{
  float: left;
  width: 20%;
  background: $light-3;
}

div#right-split-component{
  float: right;
  width: 80%;
  background: $light-2;
}

.filter-options-element{
  background: $light-3;
}

h5#filter-options-title{
  margin: 0;
}

div#filter-check-box-1{
  label{
    margin-right: 25%;
  }
}

div#filter-check-box-2{
  label{
    margin-right: 17%;
  }
}

div#filter-check-box-3{
  label{
    margin-right: 16%;
  }
}

div#filter-footer {
  margin-top: 90%;
  margin-left: 5%;
}

h4#advanced-search-heading {
  max-width: 100%;
}

h4#advanced-search-heading:hover {
  color: $menu-background;
}

.advanced-search-paragraph {
  max-width: 100%;
}

div#advanced-search-main-box {
  margin: 0px 25% 1% 15%;
  border-bottom: 1px solid black;
}

p#advanced-search-author {
  margin-top: 0;
  color: $text-color;
}

div#page-selector-box {
  margin-left: 40%;
}

h3#page-number-heading {
  margin-left: 2%;
  margin-bottom: 33px;
}

button#next-chapter-button {
  margin-left: 2%;
}

button#prev-chapter-button:hover {
  svg {
    stroke: $menu-background;
    path{
      fill: $menu-background !important;
    }
  }
}

button#next-chapter-button:hover {
  svg {
    stroke: $menu-background;
    path{
      fill: $menu-background !important;
    }
  }
}

h5#search-text-input-title {
  font-size: 26px;
  margin: 17px 0 0 10px;
  font-style: italic;
  position: absolute;
}

input#search-text-input {
  border-bottom: 1px solid black;
  margin-left: 44%;
  font-size: 16px;
  padding-bottom: 4px;
  margin-top: 4px;
}