$light-1: #F8F8F8;
$light-2: #F2F2F2;
$light-3: #EDEDED;
$neutral-3: #00739D;
$dark-2 : #555555;
$menu-background: #9CC2BD;

div#main-user-profile {
  margin-left: 50%;
}

.user-settings-slider {
  border-right: 1px solid $light-3;
  background: $menu-background;
}

div#profile-status-box {
  position: absolute;
  margin-left: 210px;
  margin-top: 150px;
  border: 1px solid black;
  z-index: 100;
  background: white;
}

img#user-profile-status-image {
  margin-bottom: 16px;
}

.user-profile-status-heading{
  margin: 2px;
}

div#favorite-articles-box {
  position: absolute;
  margin-left: 16%;
  margin-top: 2%;
  width: 77vw;
  height: 90vh;
  border: 1px solid black;
}

div#profile-cover-box {
  position: absolute;
  width: inherit;
  height: 30vh;
  //border: 1px solid red;
  border-bottom: 1px solid black;
  background: $menu-background;
}

div#profile-name-box {
  position: absolute;
  margin-left: 9%;
  margin-top: 12.5%;
  margin-bottom: 7%;
}

div#profile-search-box {
  margin-left: 82%;
  margin-top: 14%;
  position: absolute;

  svg {
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;
  }
}

input#search-input {
  border-radius: 21px;
  height: 35px;
  text-indent: 22px;
}

div#profile-favorites-box {
  position: absolute;
  width: inherit;
  //border: 1px solid green;
  margin-top: 19%;
  max-height: 561px;
  overflow-y: auto;
}

img#favorite-image {
  width: 12%;
  border-radius: 35px;
}

div#favorite-main-box {
  margin-left: 15%;
  margin-top: 20px;
  margin-bottom: 10vh;
}

h5#favorite-title {
  position: absolute;
  margin-left: 12%;
  max-width: 100%;
  color: $dark-2;
}

h5#favorite-title:hover {
  color: $neutral-3;
}

p#favorite-paragraph {
  max-width: 100%;
}

div#favorite-description-box {
  position: absolute;
  margin-left: 13%;
  margin-top: 2%;
}

button#favorite-article-star {
  position: absolute;
}

.user-settings-icon {
  margin-top: 60px;
}

button#collapsed-button {
  margin-top: 22.5%;
  margin-left: 1.2%;
  border: 1px solid black;
  position: absolute;
  z-index: 100;
  border-radius: 50%;
  background:$light-3;
}

button#expanded-button {
  position: absolute;
  margin-top: 22.5%;
  margin-left: 6.6%;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 100;
  background:$light-3;
}

.profile-settings-button {
  box-shadow: unset !important;
  border: none;
}

.profile-settings-button:hover {
  color:black;
  border: 1px solid white;
}

button#profile-logout {
  margin-top: 55vh;
}

button#profile-back {
   margin-top: 24px;
 }

button#profile-email {
  margin-top: 65px;
}

.profile-settings-heading{
  font-style: italic;
  font-size: 22px;
}

div#email-settings-layer {
  padding-left: 25px;
  padding-right: 25px;
}

input#masked-input-email {
  margin-top: 50%;
}

button#email-settings-button {
  margin-top: 50vh;
}

img#profile-logo {
  position: absolute;
  width: 150px;
  margin-left: 42%;
  margin-top: -18px;
}

h5#profile-title-news-gathering{
  position: absolute;
  margin: 6.5% 0 0 41.5%;
}

div#main-tooltip-box {
  position: absolute;
  margin-top: 50px;
  width: fit-content;
  background: $light-1;
}